* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
}

.header-container {
  height: 10svh;
  border-bottom: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
